<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<header>
<center>
    <h1>Welcome to the Home Page</h1>

</center>
</header>
<div class="container">
<center style="padding-top: 100px;padding: 100px">
    <a style="padding:50px" href="/register">Register</a>
    <a style="padding:50px" href="/login">Login</a>
</center>

</div>
<footer style="text-align: center; margin-top: 20px;">
    <p>Group: SE-2211 | Name: Anykbaiuly Bagdat</p>
</footer>
</body>
</html>
